*,
*::after,
::before{
  box-sizing: border-box;
}

*{
  font-style: normal;
  font-weight: 200; 
  line-height: 18px;
  font-family: sans-serif;
}

body {
  background-color: rgba(14, 119, 110, 0.712);

  display: flex;
  justify-content: center;
  align-items: center;
}